# Python básico

## Conocimientos de Python

Python es muy extenso, pero los imprescidibles son listas, bucles y condicionales. 

![](https://www.tutortonight.com/wp-content/uploads/2017/04/Hello-World-300x200.jpg)
### Salida
Para mostrar por pantalla un mensaje.

In [1]:
print("Hello World")

Hello World

### Variables
Para asignar valores a variables.

In [2]:
# cadena de caracteres

mensaje = "Hello World"
print(mensaje)

Hello World

In [3]:
# número entero
a = 40
b = 2
z = a + b
print(z)

42

### Haciendo cálculos
Python es una calculadora supervitaminada.

In [4]:
# cálculos
suma = 39 + 3
resta = 15 - 13
multiplicacion = 12 * 2
division = 7 / 3
division_entera = 7 // 3
modulo = 7 % 3

# outputs
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(division_entera)
print(modulo)

42
2
24
2.3333333333333335
2
1

### Entrada
Para escribir con el teclado y que la máquina lo almacene. Luego podremos usarlo y mostrarlo por pantalla si queremos.

In [5]:
nombre = input("Escribe tu nombre: ")
print("Hola", nombre, "!")

Escribe tu nombre: Goku
Hola Goku !

### Tipos de datos
Para ver el tipo de variable que estamos usando: entero, número con decimales, cadena de caracteres, lista, etc.

In [6]:
# cadena de caracteres
cadena = "Esto es una cadena de caracteres"
tipo_cadena = type(cadena)
print(tipo_cadena)

<class 'str'>

In [7]:
# número entero
entero = 42
tipo_entero = type(entero)
print(tipo_entero)

<class 'int'>

In [8]:
# número con decimales
flotante = 42.42
tipo_flotante = type(flotante)
print(tipo_flotante)

<class 'float'>

In [9]:
# lista
lista = [1,2,3,4,5,1,2,3,4,5]
tipo_lista = type(lista)
print(tipo_lista)

<class 'list'>

### Contar e indexar
Para ver la longitud de algo que se pueda recorrer: lista, cadena de caracteres, tupla, diccionario, etc.
Para seleccionar un elemento por su índice

In [10]:
hechizo = "expeliarmus"

print(len(hechizo))
print(hechizo[0])
print(hechizo[1])
print(hechizo[-1])

11
e
x
s

### Listas
La salsa de python. Las listas no tienen límite.

In [11]:
# Ejemplos de listas. 
numeros = [3,4,3,5,7,4,3,1,1]
ninjas = ['Naruto', 'Sakura', 'Sasuke', 'Hinata', 'Shikamaru']
mezcla = ['apple', 390, 876, 'orange', 'highway', 0.42, 87]

# Esto es una lista de listas que asignamos a la variable de nombre matriz
matriz = [[3,4,5], [1,2,3], [7,3,2]]

print(numeros)
print(ninjas)
print(mezcla)
print(matriz)

[3, 4, 3, 5, 7, 4, 3, 1, 1]
['Naruto', 'Sakura', 'Sasuke', 'Hinata', 'Shikamaru']
['apple', 390, 876, 'orange', 'highway', 0.42, 87]
[[3, 4, 5], [1, 2, 3], [7, 3, 2]]

In [12]:
# Para seleccionar un elemento por su índice
print(ninjas[0])
print(ninjas[-1])
print(matriz[0])

Naruto
Shikamaru
[3, 4, 5]

In [13]:
# lista[start: stop: step]
print(ninjas[::2])
print(ninjas[1:4])
print(ninjas[::-1])

['Naruto', 'Sasuke', 'Shikamaru']
['Sakura', 'Sasuke', 'Hinata']
['Shikamaru', 'Hinata', 'Sasuke', 'Sakura', 'Naruto']

In [14]:
# añadir un elemento nuevo al final de un lista. append()
print(ninjas)
ninjas.append('Kakashi')
print(ninjas)

['Naruto', 'Sakura', 'Sasuke', 'Hinata', 'Shikamaru']
['Naruto', 'Sakura', 'Sasuke', 'Hinata', 'Shikamaru', 'Kakashi']

In [15]:
# sumar listas
estudiantes = ['Harry', 'Hermione', 'Ron']
profesores = ['Dumbledore', 'Severus', 'Hagrid']
print(estudiantes)
print(profesores)
hogwards = estudiantes + profesores
print(hogwards)

['Harry', 'Hermione', 'Ron']
['Dumbledore', 'Severus', 'Hagrid']
['Harry', 'Hermione', 'Ron', 'Dumbledore', 'Severus', 'Hagrid']

In [16]:
# media de un conjunto de números
numeros = [34, 12, 93, 783, 330, 896, 1, 55]
suma = sum(numeros)
longitud = len(numeros)
media = suma / longitud
print(media)

275.5

In [17]:
# mínimo y máximo
minimo = min(numeros)
maximo = max(numeros)
print(minimo)
print(maximo)

1
896

In [18]:
# Ordenación
numeros_ordenados = sorted(numeros)
print(numeros_ordenados)

[1, 12, 34, 55, 93, 330, 783, 896]

### Conjuntos
Los conjuntos son agrupaciones de elementos pero no se almacenan repetidos.

In [19]:
# lista con valores repetidos
lista_peliculas_cine = ['Alien', 'Terminator 2', 'Arma Letal', 'Alien', 'Terminator 2']

# conjunto con los valores de la lista sin repetir
opciones_peliculas = set(lista_peliculas_cine)

print(lista_peliculas_cine)
print(opciones_peliculas)

['Alien', 'Terminator 2', 'Arma Letal', 'Alien', 'Terminator 2']
{'Arma Letal', 'Alien', 'Terminator 2'}

### Diccionarios
Para obtener un dato a partir de otro. La película **Alien** tiene una valoración de **9.5**.

In [20]:
# diccionario de película y valoración dada
valoraciones = {'Alien':9.5, 'Terminator 2':8.9, 'Arma Letal':7.3}

# algunos métodos de diccionarios
print(valoraciones['Alien'])
print(valoraciones.keys())
print(valoraciones.values())
print(valoraciones.items())

9.5
dict_keys(['Alien', 'Terminator 2', 'Arma Letal'])
dict_values([9.5, 8.9, 7.3])
dict_items([('Alien', 9.5), ('Terminator 2', 8.9), ('Arma Letal', 7.3)])

### Tipos booleanos (True, False)
_Ser o no ser._ `True o False`

In [21]:
print(5 + 5 == 10)
print('isla' != 'pantano')
print(100 >= 75)
print(93 <= 80)

True
True
True
False

In [22]:
# para ver si un elemento se encuentra en un conjunto o lista usaremos in
print(3 in [1,2,3,4,5])
print(3 not in [1,2,3,4,5])

True
False

In [23]:
print((5 + 5 == 10) and ('isla' != 'pantano'))
print((100 > 75) and (93 < 80))
print((100 > 75) or (93 < 80))
print((93 < 80) or (3 not in [1,2,3,4,5]))

True
False
True
False

### Indentación y errores
Otros lenguajes menos amigables con los nuevos programadores usan llaves **{}** para encerrar código que debe ir dentro de un bloque. Si te has fijado cada vez que hemos usado for, if, else hemos puesto : y luego el resto del código va tabulado (indentado) a la derecha. Y así podemos anidar código.

In [24]:
# Este código da error de indentación. print(x) debería estár más a la derecha
for x in range(10): 
print(x)

IndentationError: expected an indented block (<ipython-input-24-fee61d777f3b>, line 3)

Verás que Python lanza un error. Lo que debes hacer es tabular correctamente la línea indicada

![error de indentación](images/indentation-error2.png)

### Condicionales (if - elif - else)
Para la toma de decisiones.

In [25]:
entrada = input("Introduce un número entero: ")

# convertimos la cadena de caracteres en entero. Esta operación se llama cast. 
numero = int(entrada)

# Ahora veamos que has puesto
if numero == 42: 
    print("Has elegido 42")
elif numero < 42: 
    print("El número", numero, "es menor que 42")
else: 
    print("El número", numero, "es mayor que 42")
    
# prueba 43, "asdf"

Introduce un número entero: 44
El número 44 es mayor que 42

### Bucles con Python
Para automatizarlo todo.

In [26]:
# Primer ejemplo: range
for numero in range(10):
    print(numero)

0
1
2
3
4
5
6
7
8
9

In [27]:
# Segundo ejemplo: range(start: stop: step)
for numero in range(5, 15, 2):
    print(numero)

5
7
9
11
13

In [28]:
# Tercer ejemplo
ninjas = ['Naruto', 'Sakura', 'Sasuke', 'Hinata', 'Shikamaru']
for ninja in ninjas: 
    print(ninja)

Naruto
Sakura
Sasuke
Hinata
Shikamaru

In [29]:
# Cuarto ejemplo
valoraciones = {'Alien':9.5, 'Terminator 2':8.9, 'Arma Letal':7.3}

for peli in valoraciones.keys(): 
    print("pelicula:" + peli)

for valoracion in valoraciones.values(): 
    # str(x) -> convierte x a tipo cadena de caracteres para 
    # poder encadenarla a "valoraciones:"
    print("valoraciones:" + str(valoracion)) 

for peli, puntuacion in valoraciones.items(): 
    print(peli, "tiene una puntuacion de", puntuacion)

pelicula:Alien
pelicula:Terminator 2
pelicula:Arma Letal
valoraciones:9.5
valoraciones:8.9
valoraciones:7.3
Alien tiene una puntuacion de 9.5
Terminator 2 tiene una puntuacion de 8.9
Arma Letal tiene una puntuacion de 7.3

In [30]:
# Quinto ejemplo: cálculo de la suma
numeros = [34, 12, 93, 783, 330, 896, 1, 55]
total = 0
for numero in numeros: 
    total += numero
print(total)

2204

In [31]:
# Sexto ejemplo: 
lista = []
for x in range(2, 6): 
    numero = x**2
    lista.append(numero)
print(lista)

[4, 9, 16, 25]

In [32]:
# Séptimo ejemplo: Bucle doble
valoraciones = {'Alien':9.5, 'Terminator 2':8.9, 'Arma Letal':7.3}
estudiantes = ['Harry', 'Hermione', 'Ron']
for estudiante in estudiantes: 
    print()
    for peli, valoracion in valoraciones.items(): 
        print(estudiante, "vió", peli, "y le puso una nota de", valoracion)

Harry vió Alien y le puso una nota de 9.5
Harry vió Terminator 2 y le puso una nota de 8.9
Harry vió Arma Letal y le puso una nota de 7.3

Hermione vió Alien y le puso una nota de 9.5
Hermione vió Terminator 2 y le puso una nota de 8.9
Hermione vió Arma Letal y le puso una nota de 7.3

Ron vió Alien y le puso una nota de 9.5
Ron vió Terminator 2 y le puso una nota de 8.9
Ron vió Arma Letal y le puso una nota de 7.3